.containerFluid{
    background-color: #000;
    width: 100vw;
    height: calc(100vh + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background{
    background: url('../../assets/img/header.png') no-repeat;
    background-position-x: center;
    height: 100%;
    width: calc(80% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.header{
    width: 80%;
    color: #ffffff;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: baseline;
}

.links{
    display: flex;
    align-items: center;
}

.links span{
    margin-right: 20px;
}

.startBtn{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 15px;
}

.main{
    font-family: Epilogue, sans-serif;
    font-size: 60px;
    line-height: 80px;
    font-feature-settings: 'ss03' on;
    color: #FFFFFF;
    mix-blend-mode: exclusion;
    width: 600px;
    /* margin-right: auto; */
}

.work{
    margin-top: 50px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.opacity{
    opacity: 0.5;
    margin-right: 5px;
}

@media screen and (max-width: 800px){
    .main{
        width: unset;
        font-size: 50px;
        line-height: 70px;
    }
    .background{
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 550px){
    .background{
        padding: 20px;
    width: calc(100% - 40px);
    }
    .header{
        padding: 20px;
    width: calc(100% - 40px);
    }
    .links span{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .links button{
        margin-bottom: 10px;

    }
    .links{
        margin-left: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
    }
    .chain{
white-space: nowrap;
    }
}